.form {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 18px;
}
        
  .btn {
    display: inline-block;
    margin-top: 22px;
    padding: 14px 44px;
    border-radius: 12px;
background: #3470FF;
border: none;
border-radius: 12px;
font-size: 14px;
font-style: normal;
font-weight: 600;
color: #fff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  background-color: #0B44CD;
}
  }

.label {
  color: #8A8A89;
 

}
.input__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.input1 {
  display: block;
  position: relative;
  width: 150px;
  background-color: #F7F7FB;
padding: 14px 0 14px 62px;
border: none;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px;
margin-top: 8px;
border-radius:  14px 0 0 14px;
border-right: 1px solid rgba(138, 138, 137, 0.20);



}

.input2 {
  display: block;
  width: 150px;
  background-color: #F7F7FB;
  padding: 14px 24px 14px 45px;
  font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px;
border: none;
margin-top: 8px;
border-radius: 0 14px 14px 0;


}

.span {
  position: absolute;
  top: 145px;
  left: 596px;
  color: #121417;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px;
}

.select {
  position: relative;
}

.span__input1 {
  position: absolute;
  left: 18px;
 bottom: 17px;
  display: block;
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.span__input2 {
  position: absolute;
  left: 170px;
 bottom: 17px;
  display: block;
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}