@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
   font-family: 'Manrope', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: calc(18 / 12);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;

  

  &.is-open {

    overflow-y: hidden;
  
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 250ms linear;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  

  @media screen and (min-width: 480px) {
      width: 480px;
  }

  @media screen and (min-width: 768px) {
      width: 768px;
      padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
      width: 1280px;
  }

}
