.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
    
    
  }
  
  .modal {
    // max-width: calc(100vw - 48px);
    // max-height: calc(100vh - 24px);
    width: 541px;
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 24px;
    background-color: #FFF;

    &__btn {
      position: absolute;
      right: 16px;
      top: 16px;
      padding: 1px 3px;
      background-color: inherit;
      border-radius: 50%;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: rgb(90, 96, 206);
       
      }
    }

    

  }

 .title__wraper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;
 }

img {
  width: 461px;
  height: 248px;
  margin-bottom: 14px;
  border-radius: 14px;
  object-fit: cover;
  object-position: center;
}

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(24 / 18);
}

.title__accent{
  color: #3470FF;
}

.tags__list{
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 6px;
}

.tags__item {
  color: rgba(18, 20, 23, 0.50);

  &:not(:last-child) {
      padding-right: 6px;
      border-right: 1px solid rgba(18, 20, 23, 0.10);
  }
}

.description {
  font-size: 14px;
  line-height: calc(20 / 14);
  margin-bottom: 24px;
}

.block__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.block__title {
  font-size: 14px;
  line-height: calc(20 / 14);
}

.RentalConditionsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.RentalConditionsItem {
  padding: 7px 14px;
  color: #363535;
  background-color: #F9F9F9;
  border-radius: 35px;
}

.AccentText {
  font-family: 'Montserat', sans-serif;
  font-weight: 600;
  letter-spacing: -0.24px;
  color: #3470FF;
}

.tel {
  display: inline-block;
  padding: 12px 50px;
  border-radius: 12px;
background: #3470FF;
font-size: 14px;
color: #FFF;
font-weight: 600;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  background-color: #0B44CD;
 
}
}